body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
}


img {
    width: 200px;
    height: 200px;
}
.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinear verticalmente los elementos */
}

h1 {
    margin-right: 300px; /* Ajusta el valor según el espacio deseado */
}


.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


button.regresar {
    background-color: #ff2b2b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.regresar:hover {
    background-color: #110e0e;
}

button.finalizarcompra {
    background-color: #005f0d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.finalizarcompra:hover {
    background-color: #000000;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: right;
}





